*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-size: cover;
  font-family: serif, sans-serif;
} 


body{
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  background-size: cover;
}
a{
  cursor: pointer;
}


/* NAVBAR  */
#title{
  padding: 0;
  text-align: center;
}
.navb label{
  display: none;
  font-weight: bolder;
}
#title h1{
  font-weight: bolder;
  margin: auto 1rem auto;
}

.navb{
  padding: 0.3rem 0.625rem;
  position: fixed;
  top: 0; right: 0; left: 0;
  background-color: #e3fdfd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index:1000;
  border-bottom: 2px solid grey;
}

.navb label{
  color:#71c9ce ;
  display: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: bolder;
}

.navb h1{
  color: #71c9ce;
  font-weight: bolder;
  font-size: 2rem;
}

.navb ul{
  list-style: none;
}
.navb ul li {
  position: relative;
  float: left;
}
.navb ul li a{
  font-size: 1.3rem;
  padding: 0.5rem 0.6rem;
  display: block;
  color: #71c9ce;
  text-decoration: unset;
}
.navb ul li a:hover{
  /* background-color:#0a0a0a; */
  font-weight: bolder;
}


.navb ul li:focus-within > ul,
.navb ul li:hover > ul{
  display: initial;
}


#checkbox{
display: none;
}
label{
  display:none;
  font-size:20px;
  cursor: pointer;
}



@media(max-width:822px) {
  .navb{
    margin: auto;
    z-index: 1000;
    width: 100%;
    /* height: 10%; */
    box-sizing: border-box;
    
  }

  .navb h1{
    font-size:2rem;
    padding: 0;
  }

  .navb label{
    /* margin-left: 2%; */
    padding: 1.7%;
    display:initial;
    font-weight: bolder;
  }
 
  .navb ul{
    padding-left: 1rem;
    width: 40%;
    position: absolute;
    top: 100%;  right: 0;
    background:#e3fdfd;
    /* border-top: 1px solid #222; */
    display: none;

  }
  
  .navb ul li{
    box-sizing: border-box;
    width: 100%;
    /* border-bottom: 1px solid black; */
  }

  .navb ul li a{
    padding: 1rem 0.2rem;
  }

  #checkbox:focus-within ~  ul,
  #checkbox:checked ~  ul{
    display: initial;
  }

}


/* FIRST BODY  */
#first-body{
padding:78px 5px 0 0 ;  
width: 100%;
height:fit-content;
background-color: #e3fdfd;
display: flex;
}

.img{
  width:50%;
  height: 50%;
  position: relative;
  
}

#first-body img{
  box-sizing: border-box;
  width: 100%;
}

.first-text{
  color: #71c9ce;
  padding: 20px;
  margin: auto;
  width: 50%;

  font-weight: bold;

}

.first-text h2{
  font-size: 2.5rem;
  color: #71c9ce;
}
.first-text p{
  font-size: larger;
}
@media (max-width:822px) {
  #first-body{
    display: block;
  }
  .img{
    width: 80%;
    margin: auto;
  }
}




/* SECOND BODY  */
#second-body{
  width: 100%;
  padding-top: 2%;
  background-color:#e3fdfd ;
}
#second-body h1{
  color: #71c9ce;
  margin-bottom: 2%;
}
 
.views{
  display: flex;
  /* flex-wrap: wrap; */
  padding: 1%;
  margin: 0 ;
}

hr{
  border: 4px dotted #71c9ce ;
  border-bottom: 0;
  margin:0 auto 5% auto;
  width: 20%;
}


.views-img{
  /* border: 1px solid grey; */
  flex: 1 0 0%;
  margin: 0.5rem;
  overflow: hidden;
  text-align: center;
  /* border-radius: 0 1rem 0 1rem; */
}

.views h2{
  margin: 5%;
  color:#71c9ce;
}

.views img{
  width: 100%;
}

@media (max-width:822px) {
  #second-body .views{
    display:block;
  }
  .views-img{
    width: 80%;
    margin: 10% auto;
  }
  .views h2{
    width: 60%;
    margin:5% auto 10% auto;
    
  }
}


/* ABOUT  */
#about{
  color: #71c9ce;
  padding:5% 12%;
}



/* CONTACT  */

#contact{
  color: #71c9ce;
  padding-top: 5%;
  height: 30vh;
}







